<div class="modal fade login-modal" id="login" tabindex="-1" role="dialog" aria-labelledby="login" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <div class="modal-body">
        <div class="logo-area"><img class="logo" src="assets/images/logo.png" alt="" /></div>
        <div class="header-area">
          <h4 class="title">Great to have you back!</h4>
          <p class="sub-title">Enter your details below.</p>
        </div>
        <div class="form-area">
          <form [formGroup]="loginForm" (ngSubmit)="login()">
            <div class="form-group">
              <label for="email">Email</label>
              <input formControlName="email" type="email" class="input-field" placeholder="Enter your Email" required="" />
              <div *ngIf="submitted && loginForm.controls.email.errors" class="alert alert-danger">
                <div *ngIf="loginForm.controls.email.errors.required">Email is required</div>
              </div>
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input formControlName="password" type="password" class="input-field" placeholder="Password" required="" />
              <div *ngIf="submitted && loginForm.controls.password.errors" class="alert alert-danger">
                <div *ngIf="loginForm.controls.password.errors.required">Password is required</div>
              </div>
            </div>
            <div class="form-group"><button type="submit" class="mybtn1">Log In</button></div>
          </form>
        </div>
        <div class="form-footer">
          <p>
            Not a member?
            <a href="#" data-toggle="modal" data-target="#signin"> Create account <i class="fas fa-angle-double-right"></i> </a>
          </p>
          <p>
            <a routerLink="/forgot-password">Forgot Password?<i class="fas fa-angle-double-right"></i></a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
